@media (max-width: 2105px) {
    .nav-item:nth-last-of-type(1) {
        position: unset;
    }

    .navbar-nav {
        position: relative;
    }

    .nav-item:nth-last-of-type(-n + 2) > .dropdown-menu {
        right: 0px;
        left: unset;
    }
}

.flag {
    width: 24px;
}

code {
    padding: .2em .4em;
    margin: 0;
    margin-left: 20px;
    background-color: rgba(175,184,193,0.2);
    color: black;
    border-radius: 6px;
    font-family: monospace;
    box-sizing: border-box;
}

.partner-flag {
    width: 22px;
}

.mt-title {
    margin-top: 9rem !important;
}